---
import CaptionedLink from "../components/CaptionedLink.astro";
import Section from "../components/Section.astro";

const contactLinks = [
  {
    media: "LinkedIn",
    link: "https://www.linkedin.com/in/rowan-murray-303242246/",
    display: "Rowan Murray",
  },
  {
    media: "GitHub",
    link: "https://github.com/RowMur",
    display: "RowMur",
  },
];
---

<Section title="Contact">
  {
    contactLinks.map((contactLink) => (
      <CaptionedLink
        display={contactLink.display}
        link={contactLink.link}
        caption={contactLink.media}
      />
    ))
  }
</Section>
<Section>
  <div class="flex justify-between">
    <a href="https://github.com/RowMur/dotcom" class="opacity-60">
      Built with Astro
    </a>
    <a href="/rss.xml" class="opacity-60">rss</a>
  </div>
</Section>
