---
import Experience from "../components/Experience.astro";

const experiences = (
  await Astro.glob("../../public/experience/*.md")
).reverse();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Rowan Murray - Junior Software Engineer</title>
  </head>
  <body
    class="bg-[#252525] max-w-[544px] px-[24px] py-[40px] mx-auto text-white"
  >
    <h1 class="m-0 font-semibold text-3xl">
      Hi, I'm Rowan.
      <br />
      <span class="opacity-60"
        >A junior software engineer based in Cambridge, UK.</span
      >
    </h1>
    <section class="mt-[48px]">
      <h2 class="font-bold text-lg my-4">Experience</h2>
      {experiences.map((experience) => <Experience experience={experience} />)}
    </section>
  </body>
</html>
