---
import "@fontsource/inter";
import Experience from "../components/Experience.astro";

const experiences = (
  await Astro.glob("../../public/experience/*.md")
).reverse();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Rowan Murray - Junior Software Engineer</title>
  </head>
  <body>
    <h1>
      Hi, I'm Rowan.
      <br />
      <span>A junior software engineer based in Cambridge, UK.</span>
    </h1>
    <section>
      <h2>Experience</h2>
      {experiences.map((experience) => <Experience experience={experience} />)}
    </section>
  </body>
  <style>
    body {
      background-color: #252525;
      max-width: 544px;
      padding: 40px 24px;
      margin: 0 auto;
      color: #fff;
      font-family: "inter";
    }
    h1 {
      margin: 0;
    }

    h2 {
      font-size: large;
    }

    h1 > span {
      opacity: 0.6;
    }

    section {
      margin-top: 48px;
    }
  </style>
</html>
