---
export type Props = {
  caption: string;
  display: string;
  link: string;
};

const { caption, display, link } = Astro.props;
---

<div class="flex mb-[8px]">
  <div class="min-w-[160px] mr-[8px] opacity-60 font-semibold">
    {caption}
  </div>
  <a href={link}>{display}</a>
</div>
