---
type Props = {
  text: String;
  isActive?: boolean;
};

const { text, isActive }: Props = Astro.props;
---

<a
  href={`/posts/tags/${text}`}
  class={`grid place-content-center rounded-full w-fit px-4 text-sm hover:bg-[#404040] ${isActive ? "bg-[#404040]" : "bg-[#303030]"}`}
>
  <p class="opacity-60">
    {text}
  </p>
</a>
