---
import Header from "./Header.astro";

type Props = {
  date: string;
  title: string;
  subTitle: string;
  link?: string;
};

const { date, link, ...props } = Astro.props;
---

<div class="flex mb-[16px]">
  <div class="hidden sm:block min-w-[160px] mr-[8px] opacity-60 font-semibold">
    {date}
  </div>
  <div>
    <a href={link}>
      <Header date={date} {...props} />
    </a>
    <slot />
  </div>
</div>
