---
type Props = {
  date: string;
  title: string;
  subTitle: string;
};

const { title, subTitle, date } = Astro.props;
---

<h3 class="mb-2 font-bold">
  {title}
  <br />
  <span class="opacity-60 text-sm font-medium"
    >{subTitle}<span class="sm:hidden">, {date}</span></span
  >
</h3>
