---
import Tags from "../components/Tags.astro";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} subTitle={frontmatter.subtitle}>
  <div class="mt-4">
    <Tags tags={frontmatter.tags} />
  </div>
  <div
    class="mt-12 prose-headings:font-medium prose-headings:my-4 prose-h3:text-lg prose-h3:mt-8 prose-p:my-4"
  >
    <slot />
  </div>
</BaseLayout>
